/* .form-data{
  background: linear-gradient(135deg,#000000, #263134);
    width :100%;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-heading{
  align-items: center;
} */
/* .data{
  background: linear-gradient(135deg,#000000, #263134);
align-items: center;
} */

