*{
    margin: 0;
    padding: 0;
  }
.reset{ background: linear-gradient(135deg,#000000, #263134);
    width :100%;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-heading{
    color: #040c0e;
    text-align: center;
    /* margin: 80px 0px 40px 0px; */
}

.data{
    background-color: #fff;
  
    padding:30px;
    box-sizing: border-box;
    border-radius:5px;
    height:250px;
    width: 470px;
}

.email1{
    margin:20px;
    color:#000000;
    font-size: 15px;
}

.btn1{
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 25px;

    padding: 10px 60px;
    background: linear-gradient(to right,#000000,  #242424);
    
    box-shadow: rgba(0,0,0,0.3)0px 19px 38px;
    margin: auto;
    outline: none;

    cursor:pointer;


    background-color: transparent;
    color: #fff;

    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    position: relative;
    bottom: 1px;
}

.mail{
    height: 40px;
    font-size: 18px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 1px solid black;
    margin-bottom: 25px;
   
  }
  button:active{
    transform: translateY(5px);
   
  }
  .email1{
    margin:20px;
    color:#000000;
    font-size: 20px;
  }