/* .patients {
  background: url('/public/images/brainbg3.jpg'); */
  /* background: url('/public/images/btd.png');  */
   /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px; 
 
 } */